/*
*  http://www.positioniseverything.net/easyclearing.html
*  credits
*  on .-row:after
*/

.-row { width: 100%; }
.-row:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.-row > .-col {
    float: left;
    height: 100%;
}
.-row > .-col.-col- {
    float: right;
}
