/* specify x then y */
.-pos.-flex {
    display: flex;
}
.-center {
    justify-content: center;
}
.-left {
    justify-content: flex-start;
}
.-right {
    justify-content: flex-end;
}
.-pos.-flex > .-top {
    align-self: flex-start;
}
.-pos.-flex > .-bottom {
    align-self: flex-end;
}
.-pos.-flex > .-middle {
    align-self: center;
}

/* position */
.-pos.-rel,
.-pos.-ready {
    position: relative;
}
.-pos.-abs  {
    position: absolute;
}
.-pos.-fix {
    position: fixed;
}
