/* specify x then y */
.-pos.-center, .-pos.-left, .-pos.-right {
    display: flex;
}
.-pos.-center {
    justify-content: center;
}
.-pos.-left {
    justify-content: flex-start;
}
.-pos.-right {
    justify-content: flex-end;
}
.-pos.-center > .-pos.-top,
.-pos.-left > .-pos.-top,
.-pos.-right > .-pos.-top {
    align-self: flex-start;
}
.-pos.-center > .-pos.-bottom,
.-pos.-left > .-pos.-bottom,
.-pos.-right > .-pos.-bottom {
    align-self: flex-end;
}
.-pos.-center > .-pos.-middle,
.-pos.-left > .-pos.-middle,
.-pos.-right > .-pos.-middle {
    align-self: center;
}

/* position */
.-pos.-rel,
.-pos.-ready {
    position: relative;
}
.-pos.-abs  {
    position: absolute;
}
.-pos.-fix {
    position: fixed;
}
