.x-b {
  border: 1px solid black;
}
.x-b-1 {
  border: 1px solid red;
}
.x-b-2 {
  border: 1px solid green;
}
.x-b-3 {
  border: 1px solid blue;
}

.x-bg {
  background-color: rgba(200,200,200,0.8);
}

.x-bg-1 {
  background-color: rgba(140,140,140,0.8);
}

.x-bg-2 {
  background-color: rgba(80,90,100,0.8);
}

.x-remove {
  display: none;
}

.x-red {
  background-color: red;
}
.x-green {
  background-color: green;
}
.x-blue {
  background-color: blue;
}
